.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    text-align: center;
}
.modal-dialog{
    background-color: #fff;
    width: 40%;
    margin: 15px auto;
    padding: 15px;
    height: fit-content;
}
.modal-header{
    width: 100%;
}
.modal-heading{}
.modal-body{
    width: 100%;
}
.modal-body__content{}
p.content-paragraph{}
.modal-footer{
    width: 100%;
}
.modal-footer__btns{
    display: flex;
    justify-content: center;
}
.btn-item{
    margin: 15px 15px;
}
.btn-item .btn{
    padding: 10px;
}
.btn.done{
    background-color: green;
}
.btn.close{
    background-color: red;
}
