.product-card{
    transition: box-shadow .3s;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px
}
.product-card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2)
}
.product-wrapper{
    text-align: center;
}
.product-wrapper p{
    margin: 5px 0px;
}
.productImg{}
.productName{
    font-size: 0.8em;
}
.productPrice{
    font-size: 1em;
}
.buyBtn{
    width: 40%;
    padding: 5px 10px;
    font-size: 1em;
}

.buyBtn:disabled{
    opacity: 0.5;
}